<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bulma CSS 링크 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <title>Jungle_Sunday</title>
</head>
<body>
  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title">Jungle Sunday</h2>
      <p>일요일을 맛있게 보내자!</p>
    </div>
  </section>
  
  <div class="tile is-parent">
    <article class="tile is-child box">
        <figure class="image">
            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260">
        </figure>
        <p class="title">New York</p>
        <p class="subtitle">Fri 27 Nov 2016</p>
        <a class="button">Buy Tickets</a>
    </article>
</div>
</body>
</html>